In [9]:
import numpy as np# Importing every library we need

In [10]:
import seaborn as sns

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("data0.csv")

In [13]:
df.head()

,Market Place,Crop Variety,Producer Min,Producer Max,Wholesale Min,Wholesale Max,Retail Min,Retail Max,Volume,Collection Date
0,Bahir Dar kebele 04,White Teff (Quintal),0.0,0.0,2400,2500,2550.0,2650,Sufficient,5/2/2019
1,Halaba,White Teff (Quintal),2450.0,2500.0,2600,2700,2800.0,2900,Under,5/2/2019
2,Debre Markos Huseta Gebeya,White Teff (Quintal),2450.0,2500.0,0,0,2500.0,2550,Sufficient,5/4/2019
3,Bichena Gebeya,White Teff (Quintal),2450.0,2500.0,0,0,2500.0,2550,Sufficient,5/4/2019
4,Shindie Gebeya,White Teff (Quintal),2250.0,2300.0,0,0,2350.0,2400,Sufficient,5/4/2019

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23006 entries, 0 to 23005
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Market Place     23006 non-null  object
 1   Crop Variety     23006 non-null  object
 2   Producer Min     23006 non-null  float64
 3   Producer Max     23006 non-null  float64
 4   Wholesale Min    23006 non-null  int64
 5   Wholesale Max    23006 non-null  int64
 6   Retail Min       23006 non-null  float64
 7   Retail Max       23006 non-null  int64
 8   Volume           23006 non-null  object
 9   Collection Date  23006 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 1.8+ MB

In [15]:
df.dropna(inplace = True)

In [16]:
df.isnull().sum()

Market Place       0
Crop Variety       0
Producer Min       0
Producer Max       0
Wholesale Min      0
Wholesale Max      0
Retail Min         0
Retail Max         0
Volume             0
Collection Date    0
dtype: int64

In [17]:
data2=df.copy()

In [18]:
data2 = data2.dropna()

In [19]:
data2.isnull().sum()

Market Place       0
Crop Variety       0
Producer Min       0
Producer Max       0
Wholesale Min      0
Wholesale Max      0
Retail Min         0
Retail Max         0
Volume             0
Collection Date    0
dtype: int64

In [20]:
data2 = data2.drop(columns='Retail Min')# multiple in one (['f','h])

In [21]:
data2 = data2.drop(columns='Wholesale Max')

In [22]:
data2 = data2.drop(columns='Wholesale Min')

In [23]:
data2 = data2.drop(columns='Producer Max')

In [24]:
data2 = data2.drop(columns='Producer Min')

In [25]:
data2.head()

,Market Place,Crop Variety,Retail Max,Volume,Collection Date
0,Bahir Dar kebele 04,White Teff (Quintal),2650,Sufficient,5/2/2019
1,Halaba,White Teff (Quintal),2900,Under,5/2/2019
2,Debre Markos Huseta Gebeya,White Teff (Quintal),2550,Sufficient,5/4/2019
3,Bichena Gebeya,White Teff (Quintal),2550,Sufficient,5/4/2019
4,Shindie Gebeya,White Teff (Quintal),2400,Sufficient,5/4/2019

In [26]:
data2["Collection Date"][4]

'5/4/2019'

In [27]:
data2["Collection Date"].value_counts()

1/28/2023     81
2/4/2023      79
2/18/2023     75
1/14/2023     75
12/24/2022    72
              ..
9/11/2022      1
1/16/2022      1
10/4/2020      1
1/22/2023      1
8/9/2019       1
Name: Collection Date, Length: 1360, dtype: int64

In [ ]:
str = data2["Collection Date"][1]#taking any arbitrary data spliting it by calling split methode
str2 = str.split()#spliting it to 5,/,1,/,2019   thus str[6] out of range 
print(str)
print(str2)
print(str[0])

In [ ]:
#creating dictionary to store the months in
Dict = {1 :"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
print(Dict)

In [ ]:
Dict[3]

In [ ]:
month = []#creating empty column

In [ ]:
for rr in data2["Collection Date"]:
    str = rr
    str2 = str.split('/')
    month.append(Dict[int(str2[0])])#taking the first term, (month) from the splited

In [ ]:
len(month)

In [ ]:
data2["month"] = month

In [ ]:
data2["month"]

In [ ]:
data2["month"].unique()

In [ ]:
season =[]#creating empty column of season

In [ ]:
for tt in data2["month"]:
    if tt== "December" or tt=="January" or tt=="February":
        season.append("Winter")
    elif tt=="March" or tt=="April" or tt== "May":
            season.append("Autumn")
    elif tt=="June" or tt=="July" or tt == "August":
            season.append("Summer")
    elif tt=="September" or tt=="October" or tt== "November":
            season.append("Spring")

In [ ]:
len(season)

In [ ]:
data2["season"] = season

In [ ]:
data2["season"]

In [ ]:
import pandas as pd 
df = pd.Timestamp("5/3/2023")
print(df.dayofweek)# will give each day like 0 = monday, 1=tuesday....

In [ ]:
day_of_week = []

In [ ]:
for rr in data2["Collection Date"]:#finding out value of each date and craating day column
    str = rr
    df = pd.Timestamp(rr)
    day = df.dayofweek
    day_of_week.append(day)

In [ ]:
len(day_of_week)

In [ ]:
data2["day"]=day_of_week # putting the created day column to the data

In [ ]:
data2.head()

In [ ]:
data1 = data2.copy()

In [ ]:
data2 = data2.drop(columns='Collection Date') #delating the column collection date not necessary any more

In [ ]:
data2.head()

In [ ]:
import seaborn as sns
sns.boxplot(data2['Retail Max'])# look if there are out layers and remove them

# Removing out layers of Retail Max price 25%<values<75% out of this range

In [ ]:
#IQR
Q1=np.percentile(data2['Retail Max'], 25,interpolation="midpoint")
Q3=np.percentile(data2['Retail Max'], 75,interpolation="midpoint")
IQR=Q3-Q1

In [ ]:
#Upper bound
upper=np.where(data2['Retail Max']>=(Q3+1.5*IQR))
#Lower bound
lower=np.where(data2['Retail Max']<=(Q1-1.5*IQR))

In [ ]:
print(upper[0],lower[0])

In [ ]:
#...Removing the outliers...
data2.drop(upper[0], inplace=True)
data2.drop(lower[0], inplace=True)

print("New Shape: ", data2.shape)

In [ ]:
sns.boxplot(data2['Retail Max'])

# Graphical Analysis

In [ ]:
# market place  vs retail max
sns.catplot(y = "Retail Max", x = "Market Place", data = data2.sort_values("Retail Max", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
# market place  vs retail max
sns.catplot(y = "Retail Max", x = "season", data = data2.sort_values("Retail Max", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
# market place  vs retail max
sns.catplot(y = "Retail Max", x = "month", data = data2.sort_values("Retail Max", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
# market place  vs retail max
sns.catplot(y = "Retail Max", x = "day", data = data2.sort_values("Retail Max", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
# market place  vs retail max
sns.catplot(y = "Retail Max", x = "Volume", data = data2.sort_values("Retail Max", ascending = False), kind="boxen", height = 6, aspect = 3)
plt.show()

In [ ]:
data2.head()

In [ ]:
data2.info()

# Changing the object data types in to numeric values using oneHotEncoding technique

In [ ]:
# As market place is Nominal Categorical data we will perform OneHotEncoding

Market_Place = data2[["Market Place"]]

Market_Place = pd.get_dummies(Market_Place, drop_first= True)

Market_Place.head()

In [ ]:
# As crop variety is Nominal Categorical data we will perform OneHotEncoding

Crop_Variety = data2[["Crop Variety"]]

Crop_Variety = pd.get_dummies(Crop_Variety, drop_first= True)

Crop_Variety.head()

In [ ]:
# As volume is Nominal Categorical data we will perform OneHotEncoding

Volume = data2[["Volume"]]

Volume = pd.get_dummies(Volume, drop_first= True)

Volume.head()

In [ ]:
# As season is Nominal Categorical data we will perform OneHotEncoding

season = data2[["season"]]

season = pd.get_dummies(season, drop_first= True)

season.head(10)# the rest for the upsent == autumn

In [ ]:
# As month is Nominal Categorical data we will perform OneHotEncoding

month = data2[["month"]]

month = pd.get_dummies(month, drop_first= True)

month.head()#

In [ ]:
data0 = data2.copy()

#concatenation of the columns to the data

In [ ]:
data = pd.concat([data2, Market_Place, Crop_Variety, Volume, season, month ], axis = 1)

In [ ]:
data.head()

In [ ]:
datas = data.copy()

# delating the oneHotEncoded columns

In [ ]:
data.drop(["Market Place", "Crop Variety", "Volume", "season", "month"], axis = 1, inplace = True)

In [ ]:
data.head()

# splitting the data in  to train and test data

In [ ]:
data.columns

In [ ]:
features = data.loc[:,['day', 'Market Place_Bahir Dar kebele 04',
       'Market Place_Bonga', 'Market Place_Dilla', 'Market Place_Hawassa ',
       'Market Place_Shire-Endaselassie', 'Market Place_Sululta',
       'Market Place_Woldia Gebeya', 'Volume_Sufficient', 'Volume_Under',
       'season_Spring', 'season_Summer', 'season_Winter', 'month_August',
       'month_December', 'month_February', 'month_January', 'month_July',
       'month_June', 'month_March', 'month_May', 'month_November',
       'month_October', 'month_September']]

In [ ]:
features.head()

In [ ]:
labels = data.loc[:,'Retail Max']

In [ ]:
labels.head()

In [ ]:
#
plt.figure(figsize = (18,18))
sns.heatmap(data.corr(), annot = True, cmap = "RdYlGn")

plt.show()

In [ ]:
!pip install scikit-learn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features, labels, test_size=0.2, random_state=2)

In [ ]:
len(Xtrain)# 80 percent of 934 data == 747 and 20 percent 187

In [ ]:
len(Ytrain)

In [ ]:
len(Xtest)

In [ ]:
len(Ytest)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(Xtrain, Ytrain)

In [ ]:
ypred = model.predict(Xtest)
ypred

In [ ]:
Ytest

In [ ]:
model.score(Xtrain,Ytrain)

In [ ]:
model.score(Xtest,Ytest)

In [ ]:
sns.distplot(Ytest-ypred)
plt.show()

In [ ]:
metrics.r2_score(Ytest,ypred)